In [6]:
# 利用 IP篩選正常使用者
import sys
sys.path.append('..')
from pymongo import MongoClient
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt

client = MongoClient(host='localhost')
__db = client['new_statistic']
user = __db['ptt_static.user']

# db = PttCrawlerMongoDB(only_connect_db=True)

In [7]:
df = pd.DataFrame(user.find({}))
# db.find('user', {})
# df = pd.read_json('./ptt_static.user.json')

In [9]:
df = df.drop('_id', axis=1)
df['len_act'] =  [len(row) for row in df['data']]
df['len_ip'] = [len(row) for row in df['ip']]
# df.to_json('./user_ip.json')
df

,data,id,ip,tags,len_act,len_ip
0,"[{'board': 'Gossiping', 'text': '這樣台灣七成選民都是9.2...",z0953781935,"[39.9.130.238\n, 128.199.201.140\n]",83,142,2
1,"[{'board': 'Gossiping', 'text': '實話是這樣 不然為什麼台灣...",derayxu,[],3,3,0
2,"[{'board': 'Gossiping', 'text': '投不下去了', 'tag'...",energizer,[],2,8,0
3,"[{'board': 'Gossiping', 'text': '這不是實話嗎？ 噓文在崩潰...",cl700503,[],-2,10,0
4,"[{'board': 'Gossiping', 'text': '覺青要7pupu了', '...",k2233604,[],27,49,0
5,"[{'board': 'Gossiping', 'text': '呵呵柯逢中必跪', 'ta...",pkd20,[],0,14,0
6,"[{'board': 'Gossiping', 'text': '哈哈 反正我投韓', 't...",saint5566fan,"[36.225.156.166\n, 36.225.156.42\n, 36.226.11....",143,360,4
7,"[{'board': 'Gossiping', 'text': '幹你娘閉嘴', 'tag'...",goldenfire,[],-5,6,0
8,"[{'board': 'Gossiping', 'text': '兩岸關係你還是不要再評論了...",GrowUp,[],33,73,0
9,"[{'board': 'Gossiping', 'text': '多講點 讚 阿北就是誠實'...",kducky,[],20,28,0
10,"[{'board': 'Gossiping', 'text': '讚喔 多講一點', 'ta...",Googletime,[],17,21,0
11,"[{'board': 'Gossiping', 'text': '覺青崩潰，永遠只想靠美國'...",zxcelephant,"[61.220.51.98\n, 110.26.6.38\n, 111.184.156.11...",43,179,9
12,"[{'board': 'Gossiping', 'text': '非粉非黑 說真的柯連任後廢...",eshaninau,[],2,3,0
13,"[{'board': 'Gossiping', 'text': '柯文哲深知共產黨的邪惡，建...",jixiang,[],6,25,0
14,"[{'board': 'Gossiping', 'text': '幹你 下系下井 如果我爸媽...",beric,[],3,11,0
15,"[{'board': 'Gossiping', 'text': '台灣不喜歡聽實話，吸獨仔又...",st110261,[],9,20,0
16,"[{'board': 'Gossiping', 'text': '就事論事也不對?', 't...",virginleo,[],12,15,0
17,"[{'board': 'Gossiping', 'text': '所以呢', 'tag': ...",OoJudyoO,[],6,14,0
18,"[{'board': 'Gossiping', 'text': '明年就可以罷免韓國瑜了，只...",chong17,[],717,1486,0
19,"[{'board': 'Gossiping', 'text': ' 特地去找了影音版來看一...",overfly,[219.68.143.106\n],0,5,1
20,"[{'board': 'Gossiping', 'text': '不是韓粉的問題 是PTT同...",danorken,[],13,95,0
21,"[{'board': 'Gossiping', 'text': '笑死人，走出同溫層才知道黑...",hachime,[],-45,97,0
22,"[{'board': 'Gossiping', 'text': '個人建議你現在活的好好的實...",ksfh,[223.137.194.52\n],0,28,1
23,"[{'board': 'Gossiping', 'text': ' ※ 引述《This ...",sunyeah,"[118.163.130.181\n, 36.225.165.94\n, 36.228.15...",103,634,16
24,"[{'board': 'Gossiping', 'text': '可能是當作面試男朋友一樣吧...",bee12,[],41,106,0
25,"[{'board': 'Gossiping', 'text': '這個推不下去~', 'ta...",CoolKJ,[],0,2,0
26,"[{'board': 'Gossiping', 'text': '8掛真是反指標了', 't...",hools,[],-2,4,0
27,"[{'board': 'Gossiping', 'text': '難怪柯文哲說228不用計較...",papaganono,"[175.96.77.124\n, 115.82.44.37\n, 49.219.172.1...",0,30,3
28,"[{'board': 'Gossiping', 'text': '騎牆噁男', 'tag':...",carissababy,[],8,12,0
29,"[{'board': 'Gossiping', 'text': '看他每次不懂國際的事還要出...",bill91305,[],9,32,0
...,...,...,...,...,...,...
53327,"[{'board': 'WomenTalk', 'text': '男生會看女生的臉蛋身材',...",kuma121212,[],1,1,0
53328,"[{'board': 'WomenTalk', 'text': '錢', 'tag': 1,...",aug38000,[],1,1,0
53329,"[{'board': 'WomenTalk', 'text': '推！', 'tag': 1...",rriittaa,[],1,1,0
53330,"[{'board': 'WomenTalk', 'text': '$', 'tag': 1,...",sammy1004,[],1,1,0
53331,"[{'board': 'WomenTalk', 'text': '太爽了吧', 'tag':...",joverKJ,[],1,1,0
53332,"[{'board': 'WomenTalk', 'text': '$$', 'tag': 1...",missrosie,[],1,1,0
53333,"[{'board': 'WomenTalk', 'text': '要賴之後再接著要房間鑰匙'...",Nokia4ever,[],1,1,0
53334,"[{'board': 'WomenTalk', 'text': '工具箱預備軍 女人自己貼上...",wuJJ369,[],-1,3,0
53335,"[{'board': 'WomenTalk', 'text': '錢', 'tag': 1,...",ooo41201,[],1,1,0
53336,"[{'board': 'WomenTalk', 'text': '錢？', 'tag': 1...",jinjia501,[],1,1,0
53337,"[{'board': 'WomenTalk', 'text': '推 小心入陷阱', 'ta...",jzxc56788,[],1,1,0
53338,"[{'board': 'WomenTalk', 'text': '讚讚讚', 'tag': ...",ben4562002,[],1,1,0
53339,"[{'board': 'WomenTalk', 'text': '問她想不想要財富自由，選我...",upen,[],1,1,0
53340,"[{'board': 'WomenTalk', 'text': '給我錢 你會追到他', '...",thehopepray,[],1,1,0
53341,"[{'board': 'WomenTalk', 'text': '推', 'tag': 1,...",jadanny92024,[],1,1,0
53342,"[{'board': 'WomenTalk', 'text': '要裝作不在意的隨意聊，但又...",Tony12331,[],1,1,0
53343,"[{'board': 'WomenTalk', 'text': '推', 'tag': 1,...",nianzu,[],1,1,0
53344,"[{'board': 'WomenTalk', 'text': '推', 'tag': 1,...",vic54731,[],1,1,0
53345,"[{'board': 'WomenTalk', 'text': '生長背景的關係他還是挺有程...",fiftyfive,[],1,1,0
53346,"[{'board': 'WomenTalk', 'text': '我在桃園一餐也大概都吃15...",Kolunlun78,[],1,1,0
53347,"[{'board': 'WomenTalk', 'text': '板橋超便宜的 差一個橋 物...",elvissheng,[],0,1,0
53348,"[{'board': 'WomenTalk', 'text': '基本就100左右啦 一百多...",andy22ss,[],1,1,0
53349,"[{'board': 'WomenTalk', 'text': '可以 一個人吃而已坐一張桌...",dazzle,[],1,1,0
53350,"[{'board': 'WomenTalk', 'text': '一個人吃飯常被併桌', '...",joanyang,[],1,1,0
53351,"[{'board': 'WomenTalk', 'text': '親情+1嗚嗚', 'tag...",cccupid,[],2,2,0
53352,"[{'board': 'WomenTalk', 'text': '中過兩箱飲料哈哈哈哈', ...",kinkiyaki,[],1,1,0
53353,"[{'board': 'WomenTalk', 'text': 'Kitty 磁鐵 open...",ayabego,[],1,1,0
53354,"[{'board': 'WomenTalk', 'text': '前女友', 'tag': ...",a123666b,[],1,1,0
53355,"[{'board': 'WomenTalk', 'text': 'Frog style 蒐集...",applecccc,[],1,1,0
53356,"[{'board': 'WomenTalk', 'text': '為了回到正軌的生活努力著'...",asaz,[],1,1,0

In [19]:
df[df['len_ip'] == 1].count()

data       3498
id         3498
ip         3498
tags       3498
len_act    3498
len_ip     3498
dtype: int64

In [10]:
mask = df['len_ip'] > 0
fair_user = df[mask]
print(fair_user.count())
print(fair_user.std())
print(fair_user.mean())

# KDE plot

# seg = np.arange(1, 100, 3)
# df['ip_seg'] = pd.cut(df['len_ip'], seg)
# df = df.dropna()
# df[mask].groupby('len_ip')['len_ip'].mean().plot.kde()
df.groupby('len_ip').count()

data       5297
id         5297
ip         5297
tags       5297
len_act    5297
len_ip     5297
dtype: int64
tags        35.959475
len_act    127.842547
len_ip       2.565310
dtype: float64
tags       10.071172
len_act    40.845384
len_ip      1.998867
dtype: float64

         data     id     ip   tags  len_act
len_ip
0       48060  48060  48060  48060    48060
1        3498   3498   3498   3498     3498
2         838    838    838    838      838
3         351    351    351    351      351
4         182    182    182    182      182
5         119    119    119    119      119
6          80     80     80     80       80
7          69     69     69     69       69
8          30     30     30     30       30
9          29     29     29     29       29
10         18     18     18     18       18
11         14     14     14     14       14
12         10     10     10     10       10
13          6      6      6      6        6
14         12     12     12     12       12
15          9      9      9      9        9
16          6      6      6      6        6
17          1      1      1      1        1
18          4      4      4      4        4
19          4      4      4      4        4
21          2      2      2      2        2
23          2      2      2      2        2
24          4      4      4      4        4
25          1      1      1      1        1
26          2      2      2      2        2
27          1      1      1      1        1
29          1      1      1      1        1
32          1      1      1      1        1
35          1      1      1      1        1
36          1      1      1      1        1
58          1      1      1      1        1

In [16]:

# 計算離群值
q1 = fair_user['len_ip'].quantile(0.25)
q3 = fair_user['len_ip'].quantile(0.75)
# q2 = fair_user['len_ip'].quantile(0.50)
# mean = df['len_ip'].mean()
iqr = q3 - q1

mask1 = (fair_user['len_ip'] >= q1 - 1.5 * iqr) & (fair_user['len_ip'] 
                                                   <= np.ceil(q3 + 1.5 * iqr + 1))

In [18]:
print(q1, q3)
print( q1 - 1.5 * iqr, np.ceil(q3 + 1.5 * iqr + 1))

1.0 2.0
-0.5 5.0

In [65]:
# df[mask].groupby('len_ip')['id'].count()
import seaborn as sns

sns.set()
# fair_user[mask1].groupby('len_ip')['id'].count().plot.kde()
# print(fair_user[mask1].groupby('len_ip').sum())
print(fair_user[mask1].groupby('len_ip').groups)

# sns.distplot(fair_user[mask1].groupby('len_ip').count()['id'])
# fair_user[mask1].groupby('len_ip')['id']

{1: Int64Index([   19,    22,    43,    60,    70,    71,    77,    88,   102,
              103,
            ...
            53112, 53144, 53187, 53190, 53210, 53271, 53273, 53275, 53276,
            53279],
           dtype='int64', length=3498), 2: Int64Index([    0,    76,   170,   171,   174,   196,   197,   207,   273,
              289,
            ...
            49719, 50021, 50053, 50376, 50410, 51214, 51389, 51431, 51686,
            52050],
           dtype='int64', length=838), 3: Int64Index([   27,    75,   118,   202,   222,   250,   252,   255,   395,
              447,
            ...
            47293, 47703, 48288, 48684, 48972, 48997, 49310, 50049, 51216,
            52490],
           dtype='int64', length=351), 4: Int64Index([    6,   104,   108,   302,   710,   816,   889,   983,  1184,
             1227,
            ...
            32306, 33293, 36928, 41076, 44672, 45855, 46319, 46481, 48006,
            50738],
           dtype='int64', length=182), 5: Int64Index([   96,   317,   877,   878,   900,  1133,  1140,  1272,  1393,
             1435,
            ...
            31071, 31082, 31278, 31761, 33419, 34301, 37696, 39658, 39887,
            46491],
           dtype='int64', length=119)}

/anaconda3/envs/ptt_nlp/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

In [26]:
fair_user[mask1].groupby('len_ip').count()

        data    id    ip  tags  len_act
len_ip
1       3498  3498  3498  3498     3498
2        838   838   838   838      838
3        351   351   351   351      351
4        182   182   182   182      182
5        119   119   119   119      119

In [33]:
fair_user = fair_user[mask1]
user_set = set(fair_user[mask1]['id']) # 正常使用者的使用者名稱

/anaconda3/envs/ptt_nlp/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [72]:
# sns.lmplot(x='len_ip', y='tags', data=df[mask])
fair_user.corr()

             tags   len_act    len_ip
tags     1.000000  0.725172  0.199573
len_act  0.725172  1.000000  0.223373
len_ip   0.199573  0.223373  1.000000

AttributeError: 'DataFrame' object has no attribute 'row'